<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>BookStoreMg</display-name>
  <servlet>
    <servlet-name>aboutUs</servlet-name>
    <servlet-class>com.hrd.bookstore.AboutUs</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>aboutUs</servlet-name>
    <url-pattern>/about-us</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>studentList</servlet-name>
    <servlet-class>com.hrd.bookstore.StudentList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentList</servlet-name>
    <url-pattern>/student-list</url-pattern>
  </servlet-mapping>
</web-app>